<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ one_list.name }}</h1>
            <p><a href="{% url 'updatelist' one_list.id %}">Edit</a></p>
            <p><a href="{% url 'deletelist' one_list.id %}">Delete</a></p>
            <table>
                <tr>
                    <th>
                        <h3>Task</h3>
                    </th>
                    <th>
                        <h3>Due Date</h3>
                    </th>
                </tr>
                {% for list in one_list.listitems.all %}
                <tr>
                    <td><a href="{% url 'todo_item_update' list.id %}">{{ list.task }}</a></td>
                    <td>{{ list.due_date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
