<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <p><a href="{% url 'createlist' %}">Create a new list</a></p>
                <p><a href="{% url 'createitem' %}">Create a new item</a></p>
            </div>
            <table>
                <tr>
                    <th>
                        <h3>Name</h3>
                    </th>
                    <th>
                        <h3>Number of items</h3>
                    </th>
                </tr>
                {% for lis in list %}
                <tr>
                    <td><a href="{% url 'getlist' lis.id %}">{{ lis.name }}</a></td>
                    <td>{{ lis.listitems.all | length }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
